#chat-cont {}
	#chat-container {
		display: none;
	}
	.toggle #chat-container {
		display: block;
	}
		#chat-content {
			position: fixed;
			background-color: var(--nav-color);
			width: 120px;
			height: 50vh;
			right: 162px;
			bottom: 0px;
			padding: 0px 5px 0px 5px;
		}