
 body {
	--bg-color: rgb(41, 41, 41);
	--bg-color-text: rgb(27, 27, 27);
	--text-color: rgb(200, 200, 200);
	--nav-color: rgba(34, 34, 34, 0.8);
	--active-text-color: rgb(255, 128, 64);
	--transparent-active-text-color: rgba(255, 128, 64, 0.5);
	/*--active-text-color: rgb(27, 255, 128);*/
	--hover-text-color: #ff8040;
	/*--hover-text-color: #1bff80;*/
	--nav-item-color: rgb(25,20,20, 1.0);
	--main-background-color: rgb(20,20,20,0.1);
	--bage-logo-color: rgb(255, 128, 64);
	/*--bage-logo-color: rgb(27, 255, 128);*/
	--scroll-color: #ff8346;
	/*--scroll-color: #1bff80;*/
	--button-background: #000;
	--paranet-color: #101010;
	--nav-pressed-bg: rgba(54, 54, 54, 0.8);
	--chat-pressed-color: #ff8040;
	--chat-parent-pressed-bg-color: rgb(15, 15, 15);
	--chat-parent-childe-bg-color: rgb(25, 25, 25);
	/*font-family:"EVE", arial, sans-serif;*/
	
	/*font-family: "Lucida Console", Monaco, monospace;*/
	font-family: "Verdana", Geneva, sans-serif;
	font-size: 9pt;
	margin: 0px;
	padding: 0px;
	color: var(--text-color);
	
	
	/*text-align:justify;*/
	/*background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(41, 41, 41,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(41, 41, 41,.1) 15%, transparent 20%) 8px 9px;
	*/
	background-color: var(--bg-color);
	background-size:15px 15px;
	
	width: 0px;
	z-index: -2000;
}