#main {
	position: absolute;
	top: 0px;
	width: 100vw;
	z-index: -10;
	background-color: var(--nav-color);
	right: 0px;
}
	
	#page-heading {
    	border-radius:5px 5px 5px 5px;
		background-color: black;
		width: 100vw;
		height: 200px;	
		margin-top: 40px;
		margin-bottom: 10px;
		font-size: 16pt;
		overflow: hidden;
		border-top: 3px solid rgb(30, 30, 30);
		border-bottom: 3px solid rgb(50, 50, 50);
		
  
	}
		#page-image {
			width: 100%;
			height: 100%;
	   		background-image: url("../images/programmering/20181126_100325.jpg");
	   		background-repeat: no-repeat;
	   		background-size: cover;
			filter: blur(5px) contrast(150%);;
		}
		#page-titel {
			position: absolute;
			top: 40px;
			height: 200px;	
    		line-height: 200px;
			width: 100vw;
		    /*line-height: 1.5;
		    */display: inline-block;
		    vertical-align: middle;
   			text-align: center;
		    -moz-text-fill-color: white;
		  	-webkit-text-fill-color: white;
		    -moz-text-stroke-color: rgba(30,30,30,0.3);
		  	-webkit-text-stroke-color: rgba(30,30,30,0.3);
		    -moz-text-stroke-width: 2px;  
  			-webkit-text-stroke-width: 2px;
		}
	

	#main-margin-left {
		width: 190px;
		height: 100vh;
		float: left;
		margin-top: -10px;
	}
	#main-splitter-left {
		width: 2px;
		height: 100vh;
		float: left;
		margin-top: -10px;
		cursor: w-resize;
	}
	#main-splitter-left:hover {
		background-color: var(--chat-pressed-color);
	}
	#main-splitter-left:active {
		background-color: var(--chat-pressed-color);
	}
	#main-left {
		background-color: var(--main-background-color);
		width: calc(100vw/2 - 193px);
		height: 100vh;
		float:left;
		margin-top: -10px;
		border-left: 2px solid rgb(30, 30, 30);
	}
	#main-splitter-center {
		width: 2px;
		height: 100vh;
		float: left;
		cursor: w-resize;
		margin-top: -10px;
		border-left: 2px solid rgb(30, 30, 30);
	}
	#main-splitter-center:hover {
		background-color: var(--chat-pressed-color);
	}
	#main-splitter-center:active {
		background-color: var(--chat-pressed-color);
	}
	#main-right {
		background-color: var(--main-background-color);
		width: calc(100vw/2 - 193px);
		height: 100vh;
		float: left;
		margin-top: -10px;
		border-right: 2px solid rgb(30, 30, 30);
	}
	#main-splitter-right {
		width: 2px;
		height: 100vh;
		float: left;
		margin-top: -10px;
		cursor: w-resize;
	}
	#main-splitter-right:hover {
		background-color: var(--chat-pressed-color);
	}
	#main-splitter-right:active {
		background-color: var(--chat-pressed-color);
	}
	#main-margin-right {
		width: 180px;
		height: 100vh;
		float: right;
	}

	#main-headers {
		width: calc(100vw - 360px);
		height: 40px;
		background-color: var(--nav-item-color);
		padding: 5px;
	}
		#arsenalen-header {
    		border-radius:5px 5px 0px 0px;
    		margin-left: -3px;
    		opacity: 0.9;
			width: 160px;
			margin-right: calc(100% - 160px);
			float: left;
			background-color: var(--paranet-color);
		    margin-top: -36px;
			border-top: 2px solid rgb(30, 30, 30);
			border-left: 2px solid rgb(30, 30, 30);
			border-right: 2px solid rgb(30, 30, 30);
			min-height: 14.546px;
			color: var(--active-text-color)
		}
		#arsenalen-header-hidden-text {
			diaplay: none;
		}
		
		
		
	.main-header-item span{
		display: block;
		width: 8px;
		top: 0;
		bottom: 0;
		margin: auto;
	}
	.main-header-item span span{
		position: absolute;
		transform: scale(0.80, 0.80);
		background-image: url(../images/arrow.png);
		display: block;
		width: 8px;
		top: 0;
		bottom: 0;
		margin: auto;
		right: 10px;
		height: 10px;
		opacity: 1;
	}
	
	.main-header-item .arrow:before {
		position: absolute;
		content:"";
		transform: scale(0.80, 0.80);
		background-image: url(../images/arrow.png);
		display: block;
		width: 8px;
		top: 0;
		bottom: 0;
		margin: auto;
		right: 10px;
		height: 10px;
		opacity: 0;
	}
	
	.main-header-item .arrow:after {
		position: absolute;
		content: '';
		transform: scale(0.80, 0.80);
		background-image: url(../images/arrow.png);
		display: block;
		width: 8px;
		top: 0;
		bottom: 0;
		margin: auto;
		right: 15px;
		height: 10px;
		opacity: 0;
	}
		
		
	.main-header-item:hover .arrow:before {
		opacity: 0.5;
	  	animation: animate-arrow-2 0.8s ease-in-out infinite 0.1s ;
	}
	.main-header-item:hover .arrow:after {
	  	opacity: 0.3;
	  	animation: animate-arrow-3 0.8s ease-in-out infinite 0.2s;
	}
	.main-header-item:hover .arrow span {
	  	animation: animate-arrow-1 0.8s ease-in-out infinite;
	}
		#trials-header {
    		border-radius:5px 5px 0px 0px;
    		margin-right: -2px;
			width: 160px;
    		opacity: 0.9;
			margin-left: calc(100% - 160px);
			float: right;
		    margin-top: -36px;
			background-color: var(--paranet-color);
			border-top: 2px solid rgb(30, 30, 30);
			border-left: 2px solid rgb(30, 30, 30);
			border-right: 2px solid rgb(30, 30, 30);
			min-height: 14.546px;
			color: var(--active-text-color)
		}
		
		#trials-header-hidden-text {
			diaplay: none;
		}
	#main-container {
		position: fixed;
		width: calc(100vw - 360px);
		top: 90px;
		height: 100vh;
	}
	
	.main-header-item {
		position: relative;
		cursor: pointer;
		background-color: var(--nav-item-color);
		width: 100%;
		text-align: center;
		vertical-align: middle;
		margin: 5px 0px 5px 0px;
		filter: grayscale(30%);
		padding: 10px 0px 10px 0px;
		border: none;
		z-index: 45;
		border-left: 1px solid rgb(50, 50, 50);
		border-right: 1px solid rgb(30, 30, 30);
		border-bottom: 1px solid rgb(30, 30, 30);
		border-top: 1px solid rgb(50, 50, 50);
	}
	.main-header-item:hover {
		filter: brightness(110%);
		/*transform: scale(1.05, 1.05);*/
	}
	.main-header-item:active {
		filter: brightness(130%);
		/*transform: scale(1.02, 1.02);*/
		border-left: 1px solid rgb(30, 30, 30);
		border-right: 1px solid rgb(50, 50, 50);
		border-bottom: 1px solid rgb(50, 50, 50);
		border-top: 1px solid rgb(30, 30, 30);
	}
	
	
	
	
	.main-content {
		padding: 10px;
		width: calc(100% - 20px);
		height: calc(100% - 20px);
	}