::selection {
    color: var(--nav-color); 
    background: var(--active-text-color);
}
body {
	--bg-color: rgb(41, 41, 41);
	--text-color: rgb(220, 220, 220);
	--nav-color: rgb(34, 34, 34);
	--active-text-color: rgb(255, 128, 64);
	--hover-text-color: #ff8040;
	--nav-item-color: rgb(25,20,20,0.8);
	--bage-logo-color: rgb(255, 128, 64);
	--button-background: #000;
	
	font-size: 10pt;
	margin: 0px;
	padding: 0px;
	background-color: var(--bg-color);
	color: var(--text-color);
}
ul {
    list-style-type: none;
    padding: 0;	
}
h1 {
	margin-top: 0px;
}
	#nav-menu-button {
		cursor: pointer;
		transform: scale(0.6, 0.6);
		position: fixed;
		background-color: var(--button-background);
		top: 0px;
		left: 0px;
		padding: 0px 6px 0px 6px;
		z-index: 40;
	}
	 #nav-menu-button.toggle {
		background-color: rgba(0,0,0,0);
	}
	
	#nav-menu-button:hover {
		filter: brightness(110%);
	}
	
	#nav-menu-button:active {
		filter: brightness(120%);
	}
	
		.bar1, .bar2, .bar3 {
			width: 30px;
			height: 5px;
			margin: 7px 0;
			background-color: var(--text-color);
			transition: 0.3s;
		}
		.toggle .bar1 {
			transform: rotate(-45deg) translate(-8px, 9px);
		}
		.toggle .bar2 {
		 	opacity: 0;
		}
		.toggle .bar3 {
		 	transform: rotate(45deg) translate(-8px, -9px);
		}
		
		
	nav#course-navbar { }
		#page-logo {
			background-image: url("../images/main/logo.gif");
			background-repeat: no-repeat;
			background-size: 60vh;
			height: 12vh;
			line-height: 12vh;
			margin-top: 0px;
			filter: grayscale(0%);
			margin-bottom: 10px;
			color: var(--bage-logo-color);
			transform: scale(1.1, 1.1);
		}
		#page-logo:hover {
			filter: brightness(110%);
		}
		#page-logo:active {
			filter: brightness(130%);
		}
		
		section#sub-nav-container-main {
			background-color: var(--nav-color);
			padding: 0px 5px 0px 5px;
			opacity: 1;
		}
		.toggle section#sub-nav-container-main {
			display: block;
		}
		
		.sub-nav-container {
			display: none;
		}
			.sub-nav-content {
				position: fixed;
				height: 100vh;
				padding: 10px;
				width: 10vw;
				background-color: var(--nav-color);
				top: 0px;
			}
		
		
		.nav-item {
			cursor: pointer;
			background-color: var(--nav-item-color);
			width: 100%;
			text-align: center;
			vertical-align: middle;
			margin-top: 10px;
			filter: grayscale(30%);
			padding: 10px 0px 10px 0px;
		}
		.nav-item:hover {
			filter: brightness(110%);
			transform: scale(1.1, 1.1);
		}
		.nav-item:active {
			filter: brightness(130%);
			transform: scale(1.05, 1.05);
		}
		.sub-nav-item {
			margin-top: 5px;
		}
			.icons {
				margin-top: -25px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
				/* Programmering */
				#java-icon {
					background-image: url("../images/programmering/javaiconcolored.png");
				}
				#python-icon {
					background-image: url("../images/programmering/pythoniconcolored.png");
				}
				#csharp-icon {
					background-image: url("../images/programmering/csharpicon.png");
				}
				/* Webbutveckling */
				#html-icon {
					background-image: url("../images/webbdevelopment/htmlicon.png");
				}
				#css-icon {
					background-image: url("../images/webbdevelopment/cssicon.png");
				}
				#js-icon {
					background-image: url("../images/webbdevelopment/jsicon.png");
				}
				/* Webbserverprogrammering */
				#php5-icon {
					background-image: url("../images/webbserverprogramming/php5.png");
				}
				#dj-icon {
					background-image: url("../images/webbserverprogramming/djicon.png");
				}
				
				.nav-item-icons {
					background-repeat: no-repeat;
					background-size: 15px;	
					float: left;
					width: 20px;
					height: 20px;
				}
				.two-line-icons {
					margin-top: 12px;
				}




	.animate-arrow {
		width: 100%;
		height: 100%;
		transition: 0.1s all ease-in;
	}
		.nav-button-parent {
			margin-left: 10px;
			width: 75%;
    		word-wrap: break-word;		
		}
		.nav-button-parent-not {
			margin-left: 0px;
			width: 100%;
    		word-wrap: break-word;	
		}
		.nav-paranet {
			background-color: #101010;
			color: var(--active-text-color);
    		word-wrap: break-word;
    		transform:scale(1.10, 1.10); 
		}
		.nav-back {
			width: calc(100% - 40px);
			padding-left: 30px;
			padding-right: 10px;
		}
		
		.nav-item span{
			display: block;
			width: 8px;
			top: 0;
			bottom: 0;
			margin: auto;
		}
		
		.nav-item span span{
			transform: scale(0.80, 0.80);
			background-image: url(http://thomaspodgro.com/source/arrow.png);
			display: block;
			width: 8px;
			top: 0;
			bottom: 0;
			margin: auto;
			right: 10px;
			height: 10px;
			opacity: 1;
			position: absolute;
		}
		
		.nav-item .arrow:before {
			transform: scale(0.80, 0.80);
			content:"";
			background-image: url(http://thomaspodgro.com/source/arrow.png);
			display: block;
			width: 8px;
			top: 0;
			bottom: 0;
			margin: auto;
			right: 10px;
			height: 10px;
			position: absolute;
			opacity: 0;
		}
		
		.nav-item .arrow:after {
			transform: scale(0.80, 0.80);
			content:"";
			background-image: url(http://thomaspodgro.com/source/arrow.png);
			display: block;
			width: 8px;
			top: 0;
			bottom: 0;
			margin: auto;
			right: 15px;
			height: 10px;
			position: absolute;
			opacity: 0;
		}
		.back {
			position: absolute;
			transform: rotate(180deg);
			left: 0px;
		}
		
		.nav-item:hover .arrow:before {
			opacity: 0.5;
		  	animation: animate-arrow-2 0.8s ease-in-out infinite 0.1s ;
		}
		
		.nav-item:hover .arrow:after {
		  	opacity: 0.3;
		  	animation: animate-arrow-3 0.8s ease-in-out infinite 0.2s;
		}
		
		.nav-item:hover .arrow span {
		  	animation: animate-arrow-1 0.8s ease-in-out infinite;
		}

@keyframes animate-arrow-1 {
  0% { 
  	transform:translateX(-15px) scale(0.80, 0.80); 
  	opacity: 0;
  }
  70%,100% {
  	transform:translateX(0px) scale(0.80, 0.80); 
  	opacity: 1;
  }
}
@keyframes animate-arrow-2 {
  0% {
	  transform:translateX(-10px) scale(0.80, 0.80); 
	  opacity: 0;}
  70%,100% {
  	transform:translateX(0px) scale(0.80, 0.80); 
  	opacity: 0.5;
  }
}
@keyframes animate-arrow-3 {
  0% { 
  	transform:translateX(-5px) scale(0.80, 0.80); 
  	opacity: 0; 
  }
  70%,100% {
	  transform:translateX(0px) scale(0.80, 0.80); 
	  opacity: 0.3;
  }
}


/*  LOGGIN  */


#loggin-container {
	position: fixed;
	right: 0px;
}
		#loggin {
			background-color: rgba(20, 20, 20, 0.2);
			width: 0px;
			height: 100vh;
			transition: 0.3s;
		}
		.toggle #loggin {
			width: 200px;
		}
		#loggin-button {
			cursor: pointer;
			transform: scale(0.6, 0.6);
			position: fixed;
			background-color: var(--button-background);
			top: 0px;
			right: 0px;
			z-index: 40;
			height: 43px;
    		width: 30px;
			padding: 0px 6px 0px 6px;
			z-index: 40;
		}
		#loggin-button.toggle {
			background-color: rgba(0,0,0,0);
		}
			/* 3 different bars */
			.loggin-bar-1 {
				width: 15px;
				height: 15px;
				margin: 8px 0px 0px 7px;
				background-color: #eee;
				border-radius: 15px;
				transition: 0.3s;
				
			}
			.loggin-bar-3 {
				width: 4px;
				margin: 0px 0px 0px 1px;
				border-radius: 12px;
				border-left: 12px solid transparent;
				border-right: 12px solid transparent;
				border-bottom: 12px solid #eee;
				transition: 0.3s;
			}
			
				.toggle .loggin-bar-1 {
					width: 30px;
					height: 5px;
					margin: 16px 0px 0px -6px;
					background-color: #eee;
					transform: rotate(-45deg) translate(2px, 6px);
					border-radius: 0px;
				}
				.toggle .loggin-bar-3 {
					width: 30px;
					height: 5px;
					border-radius: 0px;
					margin: 1px 0px 0px -6px;
					background-color: #eee;
					transform: rotate(45deg) translate(2px, -6px);
					border-left: 0px solid transparent;
					border-right: 0px solid transparent;
					border-bottom: 0px solid #eee;
				}

#user-cont {}

	#user-container {
		display: none;
	}
	.toggle #user-container {
		display: block;
	}
		#user-content {
			position: fixed;
			background-color: var(--nav-color);
			width: 10vw;
			height: 100vh;
			right: 0px;
			top: 0px;
			padding: 0px 5px 0px 5px;
		}
		#register-container {
			display: none;
		}
		#loggin-container {
			padding: 5px;
		}
		#register-container { }
		#form-container { }
			form { 
				width: 10vw;
			}
				.form-input {
					color: var(--text-color);
					width: calc(10vw - 4px);
					margin-bottom: 10px;
					border-color: var(--active-text-color);
				}
				.submit-form {
					border-color: var(--active-text-color);
					border: none;
					color: var(--text-color);
					background-color: var(--active-text-color);
					filter: grayscale(40%);
				}
				.submit-form:hover {
					filter: grayscale(0%);
				}
				.reg-log-form {
					margin-top: 50px;
				}
				#user-in {
					margin-top: 50px;
				}
			#user-info {
				display: none;
			}
	input, .nav-item {
	  	transition: 0.3s ease-in-out;
	 	outline: none;
	}		
	input:focus, .nav-item:focus {
		box-shadow: 0 0 5px var(--active-text-color);
		border: 1px solid var(--active-text-color);
	}
	
	
	
	/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px black inset;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: var(--active-text-color) !important;
}
	