
#user-cont {}
	#user-container {
		display: none;
	}
	.toggle #user-container {
		display: block;
	}
	
		#user-content {
    		overflow-x: visible;
			position: fixed;
			background-color: var(--nav-color);
			width: 160px;
			right: 0px;
			top: 0px;
		}
			#user-headers {
				margin-top: 30px;
			}
			
			#user-login-header {
				display: block;
			}
			#user-register-header {
				display: none;
			}
			#user-user-header {
				display: none;
			}
	
			#user-wrapper {
			    width: 120%;
			    height: calc(100% - 90px);
				overflow-y: scroll;
			    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
			    box-sizing: content-box; /* So the width will be 100% + 17px */
			
			}
			#loggin-container {
				display: block;
			}
			#register-container {
				display: none;  
			}
			#form-container { }
				form { 
					width: 150px;
				}
					.form-input {
						color: var(--text-color);
						width: calc(150px - 4px);
						padding: 5px 0px 5px 0px;
						margin: 5px 5px 10px 5px;
						border-color: var(--active-text-color);
					}
					.submit-form {
						border-color: var(--active-text-color);
						border: none;
						color: var(--text-color);
						background-color: var(--active-text-color);
						filter: grayscale(40%);
					}
					.clear-form {
						border: none;
						color: var(--text-color);
						filter: grayscale(40%);
					}
					.submit-form:hover {
						filter: grayscale(0%);
					}
					.reg-log-form {
						margin-top: 10px;
					}
					#user-in {
						margin-top: 10px;
					}
				#user-info {
					display: none;
				}
				
				.user-img {
					width: 100%;
				}
				
				
	input, .nav-item {
	  	transition: 0.3s ease-in-out;
	 	outline: none;
	}		
	input:focus, .nav-item:focus {
		box-shadow: 0 0 5px var(--active-text-color);
		border: 1px solid var(--active-text-color);
	}
	
	

.image-upload > input
{
    display: none;
}
	